#challengeProb>table{
    border-collapse: collapse;
}
#challengeProb td{
    border: 1px solid #40156b;
    width: 60px;
    height: 60px;
}

/* prob9_4 */
#prob9_4 #imgCursor{
    display: none;
}
#imgCursor img{
    width: 30px;
}

/* prob9_8 */
#prob9_8 li:hover{
    cursor: pointer;
}

/* prob9_9 */
#prob9_9{
    position: relative;
}
#prob9_9 div{
    display: inline-block;
    width: 10rem;
    padding: 0.3rem;
    border: 1px solid cornflowerblue;
    background-color: #c2d2ec;
}
#prob9_9 div:nth-of-type(1){
    position: absolute;
    top: 55px;
    left: 90px;
    display: none;
}
#prob9_9 div:nth-of-type(2){
    position: absolute;
    top: 75px;
    left: 90px;
    display: none;
}
#prob9_9 div:nth-of-type(3){
    position: absolute;
    top: 95px;
    left: 90px;
    display: none;
}

/* prob9_10 */
#prob9_10 input{
    width: 470px;
    height: 20px;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#prob9_10 button{
    width: 100px;
    height: 30px;
    margin: 10px;
}